/output
# index files
/index.php
/index-test.php

# config files
*db.php
_generated
runtime/*

# yii console command
/yii
ComKey.php

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

#no local config files
params-local.php
main-local.php

/pocs/*
/yii2/frontend/web/images/imdb/tt*.jpg
/yii2/frontend/modules/imdb/cache/*